html{
     scroll-behavior: smooth;
}
body{
    background-color: #FAFAFA;
    align-content: center;
}
*{
    font-family: 'Jost', sans-serif;
    margin: 0 auto;
    list-style-type: none;
    text-decoration: none;
}
.logo img{
    height:50px;
    transition:.2.2s;
    margin-top:20px;
}
nav.black .logo img{
height:35px;
margin-top:15px;
}
nav .navbar{
background-color: #fff;
display:flex;
justify-content:space-around;
width:100%;
z-index:100;
transition:0.5s;
height:100px;
position: fixed;
left: 0;
right: 0;
top: 0;
}
nav .logo{
    height: 100%;
    margin-top: 05px;
}
nav.black .navbar{
height:60px;
position:fixed;
background-color:#fff;
padding:10px 10px;
width:100%;
}
.links i{
    color:#fa7735;
    padding:0px 13px 0px 13px;
    font-size:19px;
}
.lang-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container{
    position: relative;
    margin-top: 100px;
}
nav .links{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav .links p{
    font-weight: bold;  
}
.lang-menu ul li:hover{
    color:var(--orange);
    transition:.5s;
    cursor: pointer;
}

nav .selected-lang i{
    font-weight: bold;
    margin-top:10px; 
    padding-left: 5px;
}
nav .links li {
list-style: none;
color: #fff;

}
nav .links a {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}
.links a:hover{
color:#fa7735;
transition:.3s;
}
#nav-toggle{
    position: absolute;
    top: -100px;
}
nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: #000;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
.img{
background-image:url(./image/background.jpg);
background-repeat: no-repeat;
background-position:center;
background-size: cover;
width: 100%;
height: 560px;
background-attachment: fixed;
}
.text{
margin-left:auto;
margin-right:auto;
margin-top:160px;
text-align:center;
color:#FFE161;
}
.text h1{
font-size:80px;
font-family:arial;
font-weight:900;
font-family: 'Jost', sans-serif;
}

.paragraph{
display:flex;
justify-content:center;
margin-left:auto;
margin-right:auto;
text-align:center;
margin-top:20px;
}
.wrapper{
display:inline-flex;
}
.wrapper h1{
    color: white;
}
.paragraph p{
font-size:40px;
font-family:arial;
font-weight:900;
color:#fff;
}

.button-contact{
display:flex;
justify-content:center;
margin-top:50px;
}
.touch{
    display: flex;
}
.touch p{
    padding-right: 8px;
}
.button-contact button{
padding:13px 40px 13px 40px;
background-color:#148CCA;
border:none;
border-radius:3px;
color:#fff;
font-weight:bolder;
box-shadow: 0px 2px 5px 0px black;
cursor:pointer;
}
.button-contact i{
color:#FFE161;
font-size:20px;
}
.valeurs{
background-color:#ff9966;
padding:100px;
}
.title h1{
text-align:center;
color:#ffffff;
}
.codes{
background-color:#FAFAFA;
padding:100px;
}
.title-code{
text-align:center;
color:#ff9966;
}
.title-code p{
font-size:45px;
font-weight:bolder;
}
.card1-code .text p{
text-align:justify;
margin:-100px 80px 20px 80px;
color:black;
}

.card1-code .pic img{
height:240px;
border-radius: 5px 0px 0px 5px;
}
.card1-code{
margin-top:50px;
background-color:#ffffff;
display:flex;
justify-content:space-between;
border-radius: 5px;
}
#code1{
font-family:serif;
color:#40B0BF;
font-weight:bolder;
font-size:23px;
}
.udev{
    background-color:#8caff0;
}
.udev .title p{
text-align:center;
color:#ffffff;
padding:50px 50px 50px 50px;
font-size:40px;
font-weight:bolder;
}
.udev .button{
display:flex;
justify-content:center;
}
.udev .button button{
margin:-90px 0px 50px 0px;
border:none;
color:#ffffff;
background-color:#ff9966;
padding:10px 30px 10px 30px;
font-weight:bolder;
font-size:15px;
border-radius:5px;
}
.udev .button button:hover{
background-color:#fa7735;
transition:.6s;
cursor:pointer;
}
.team .title p{
text-align:center;
color:#ff9966;
margin-top:30px;
font-size:45px;
font-weight:bolder;
}
.team .icons a{
    color:#8caff0;
}
.container-img{
width:82vw;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
grid-gap:50px;
padding:50px;
z-index:0;
}
.container-img .box{
position:relative;
height:500px;
box-shadow:0 30px 30px rgba(0,0,0,0,4);
overflow:hidden;
width:260px;
background-color:#ffffff;
box-shadow:0px 0px 8px -3px;
border-radius:3px;
}
.container-img .box::before{
position:absolute;
content:"";
top:99%;
width:100%;
height:100%;
background-color:#8caff0;
background-image:linear-gradient(315deg,#40B0BF, 0%, #ff9966 4%);
transition:.5s;
}
.container-img .box:hover::before{
top:50%;
cursor:pointer;
}
.container-img .box .imgbox{
width:100%;
height:50%;
}
.container-img .box .imgbox img{
width:100%;
height:100%;
object-fit:cover;
}
.container-img .box h1{
margin-top:20px;
position:relative;
text-align:center;
font-size:20px;
font-weight:bolder;
color:#ff9966;
}
.container-img .box:hover h1{
color:white;
transition:.7s;
}
.container-img .box p{
text-align:center;
margin-top:20px;
font-weight:bolder;
position:relative;
}
.container-img .box .icons{
display:flex;
position:relative;
justify-content:space-around;
margin-top:30px;
color:#8caff0;
font-size:24px;
}
.container-img .box:hover .icons .facebook i{
color:white;
transition:.5s;
border:2px solid #ffffff; 
}
.container-img .box:hover .icons .twitter i{
color:white;
transition:.5s;
border:2px solid #ffffff; 
}
.container-img .box:hover .icons .whatsapp i{
color:white;
transition:.5s;
border:2px solid #ffffff; 
}
.container-img .box .icons .facebook i{
border:2px solid #8caff0;
padding:7px 12px 7px 12px;
border-radius: 100px;
}
.container-img .box .icons .whatsapp i{
border:2px solid #8caff0;
padding:7px 9px 7px 9px;
border-radius:100px;
}
.container-img .box .icons .twitter i{
border:2px solid #8caff0;
padding:7px 7px 7px 7px;
border-radius:100px;
}
.container-values{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(520px,41fr));
grid-gap:20px;
margin-top:60px;
z-index:0;
padding:-200px;
width: auto;
}
.valeurs{
    padding:20px;
}
.container-values .cardbox{
position:relative;
height:225px;
box-shadow:0 30px 30px rgba(0,0,0,0,4);
overflow:hidden;
width:540px;
background-color:#ffffff;
border-radius:6px;
display: flex;
justify-content: center;
flex-direction: row-reverse;
}
.container-values .cardbox .texto{
margin-right:10px;
padding:30px;
font-size:14px;
}
.container-values .cardbox .icon i{
color:#ffffff;
font-size:90px;
z-index:1;
background-color:#FFE161;
padding:80px 50px 80px 50px ;
text-align: center;
}
.cardbox{
display:flex;
justify-content:center;
align-items:center;
}
.portfolio{
background-color:#8caff0;
padding: 0;
margin: 0;
justify-content: center;
}
.portfolio .title{
font-size:20px;
justify-content: center;
}
.cardpic{
width:282vw;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(540px,1fr));
grid-gap:20px;
margin-top:30px;
z-index:0;
width:85%;
padding:0px 0px 130px 0px;
}
.cardpic .imgbox{
position:relative;
height:430px;
box-shadow:0 30px 30px rgba(0,0,0,0,4);
overflow:hidden;
width:100;
background-color:#ffffff;
box-shadow:0px 0px 8px -3px;
border-radius:5px;
}
.cardpic .imgbox img{
height:320px;
width:100%;
position:cover;
}
.cardpic .imgbox p{
font-size:35px;
text-align:center;
margin-top:20px;
}
.contact{
background-color:#ff9966;
}
.contact .title h1{
padding:60px 0px 30px 0px;
font-size:40px;
}
.contact-part{
display:flex;

justify-content:center;
padding:0px 0px 80px 0px;
}
.part1box{
background-color:#ffffff;
padding:55px 130px 55px 130px;
border-radius:10px;
margin:0px 0px 50px 0px;
}
.part1box h1{
font-size:38px;
color:#8caff0;
}
.part1box a{
color:#ff9966;
font-weight:bolder;
text-decoration:none;
}
.part1box a:hover{
text-decoration:underline;
transition:.10s;
}
.part2 .form input{
border:none;
height:40px; width: 400px;
border-radius:5px;
outline:none;
}
.part2 .form textarea{
border:none;
height:130px;width: 400px;
border-radius:5px;
}
.part2 .form button{
border:none;
background-color:#8caff0;
height:40px;width:400px;
color:#ffffff;
border-radius:5px;
}
.footer{
width:100%;
background-color:#ffffff;
display:flex;
justify-content:center;
flex-direction:column;
padding:50px 0px 50px 0px;
}
.footer .icons i{
padding:0px 10px 25px 10px;
color:#ff9966;
font-size:20px;
}
.footer .copyright{
color:#8caff0;
font-size:18px;
display: flex;
}
.iconphone i{
color:#FF9966;
font-size: 70px;
margin-top:10px;
rotate: 90deg;
margin-right: 20px;
}
.iconmail i{
    color:#FF9966;
    font-size: 70px;
    margin-top:10px;
    z-index: 2;
    margin-right: 20px;
    }
.part1box{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}
@media screen and (max-width: 768px) {
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    nav .links{
        /* float: none; */
        position: fixed;
        /* z-index:0; */
        left: 0;
        right: 0;
        width: auto;
        top: 80px;
        bottom: 100%;
        height: auto;
        /* align-items: center; */
        /* justify-content: space-evenly; */
        /* flex-direction: column; */
        background-color:#fff;
        opacity: 0.9;
        display: none;
        transition: all .5s ease-in-out;
    }
    /* nav .menuItem{
       margin-top:190px;
    } */
    nav .links a{
        font-size: 20px;
        position:relative;
        color: #000;
        cursor: pointer;
        margin-right: 100px;
        line-height: 90px;
        transition: .5s;
    }

    nav :checked ~ .links{
        bottom: 0;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    nav :checked ~ .lang-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
       
    }
    nav .icon-burger{
        display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2){
        opacity: 0;
    }
 .container-img .box{
        width: 350px;
        height: 600px;
        margin-right: 90px;
  }
  .container-img{
    width:82vw;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    grid-gap:120px;
    padding:50px;
    z-index:0;
    }
.container-img .box .imgbox{
    height: 360px;
}
.input{
    width:800px;
}
.part1box{
    margin-top:50px;
}
.part1box p{
    font-size: 12px;
}
.contact-part{
display:flex;
justify-content:space-around;
flex-direction:column-reverse;
padding: 20px;
}

.paragraph .wrapper p{
font-size:18px;
margin-top: 10px;
}
.paragraph .dynamic-texts li{
font-size:18px;
}
.part1box h1{
font-size:16px;padding: 10px;
}
.part1box{
padding:20px 100px 20px 100px ;
}
.codes{
    padding:20px;
}
.card1-code .pic img{
    width:auto;
}
.part2 .form input{
width:100%;
height: 30px;
}
.part2 .form p{
font-size:10px;
}
.part2 .form button{
width:100%;
height: 30px;
}
.part2 .form textarea{
width:100%;
height:70px;
}
.title h1{
    font-size: 25px;
    margin-bottom: 30px;
}
.container-values{
margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: column;
}
body{
overflow-x:hidden;
}
.container-values .cardbox{
height: 370px;
width: 100%;
}
.cardbox .texto h3{
    text-align: center;
    font-size: 18px;
}
.cardbox .icon i{
    text-align: justify;
}
.container-values .cardbox .icon{
    width: 100%;
}
.title-code p{
    font-size: 25px;
}
.container-values .cardbox .icon i{
    width: 100%;
    padding:70px 0px 70px 0px;
}
.cardpic .imgbox{
width:100%;
}
.container-values .cardbox{
display:flex;
justify-content:center;
flex-direction:column;
}
.container-values .cardbox .icon i{
font-size:25px;
}
.container-values .cardbox .icon2 i{
font-size:25px;
padding:15px 133px 15px 133px;
}
.container-values .cardbox .icon3 i{
font-size:25px;
padding:15px 133px 15px 133px;
}
.container-values .cardbox .icon4 i{
font-size:25px;
padding:15px 133px 15px 133px;
}
.cardpic{
display:flex;
justify-content:space-around;
align-items: center;
flex-direction:column;
}
.udev .title p{
text-align:center;
font-size:20px;
}
.card1-code .pic img{
border-radius: 5px 5px 0px 0px;
height:100%;
width: 100%;
overflow: hidden;
background-size: cover;
}
.card1-code .text p{
font-size:15px;
padding-bottom: 40px;
}
.card1-code{
    display: block;
}
.card1-code #code1{
font-size:24px;
margin-top:0px;
}

}
.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 5px;
    display: block;
}
.lang-menu ul li a:hover{
    color:var(--orange);
    transition:.5s;
    cursor: pointer;
    color:var(--white);
    font-weight: bold;
}
.lang-menu ul li:hover {
    background-color: transparent;

}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    font-weight: bold;
    background-repeat: no-repeat;
}

.lang-menu:hover ul {
    display: block;
    margin-right: 75px;
}
.selected-lang p{
    margin-top: 5px;
    font-weight: bold;
}

.selected-lang .selectlang {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}
.selected-lang{
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right:30px;
}
.flags .flagname {
    display: flex;
    float: right;
    align-content: space-between;
}

.flagname {
    position: relative;
    margin-right: 5px;
    flex-direction: row;
}
